<h1 class="logo">
  <span class="word1">oediv</span>
  <span class="word2">Embedder</span>
</h1>
<p><%= link_to "<Add Link Here>", new_article_path, class: "news" %>
    <p class="small">© @deliciousgammon 2019</p>